# Secrets
.env
key.env
*.env

# Hardware Data (keep local)
esp32_data.json
ngrok.exe
*.exe

# Python
__pycache__/
*.pyc

# Data Snapshots (Optional: ignore if you want them to stay local)
# raw_data.csv